@{
    Layout = "_Layout";
}

<div class=" container card-body p-2 ">

    @if (TempData["message"] != null)
    {
        <div class="alert alert-success">@TempData["message"]</div>
    }
    @RenderBody()
</div>