@using WebCoreApplication.Models
@using WebCoreApplication.Models.ViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper WebCoreApplication.Infrastructure.*, WebCoreApplication


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport " content="width=device-width" />

    <link rel="stylesheet" href="css/bundle.min.css" />

    <link rel="stylesheet"
          asp-href-include="/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-dark" role="navigation">
        <a class="navbar-brand" href="#">SPORTS STORE</a>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            Put something useful here later
        </div>
        <div class="col-9"> @RenderBody() </div>
        <div>
            <p>Запрос произведен: @DateTime.Now.ToString("F")</p>
        </div>
    </div>
</body>


</html> 