@using WebCoreApplication.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>


    <meta name="viewport " content=" width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="css/bundle.min.css" />
    <link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <script src="~/js/bundle.min.js"></script>


</head>
<body>
<div class="panel-body">
    <h2 class="text-center">Product Information:</h2>
    <div id="mainDiv"> @RenderBody() </div>
    <div>
        <p>Запрос произведен: @DateTime.Now.ToString("F")</p>
    </div>
</div>
</body>


</html> 