@model WebCoreApplication.Models.Product

<div class="card card-header m-1 p-1">
    <div class="bg-light p-1">
        <h4>
            <strong class="col-form-label">@Model.Name</strong>
            <span class="badge badge-pill badge-primary" style="float: right">@($"{Model.Price:C2}")</span>
            <br />
            <span class="col-form-label-sm p-1">@Model.Description</span>
        </h4>
    </div>
</div>
