@{
    ViewBag.Title = "Home Page";
}

<h2>Последние версии приложения</h2>
<p>Здесь вы можете выбрать архив с последней версией приложения.</p>
<p>И скачать его.</p>


@using (Html.BeginForm())
{
    @Html.Action("FileManagerPartial")
}


