@using WebCoreApplication.Infrastructure
@model WebCoreApplication.Models.Cart

<div class="btn-lg float-right" style="alignment: right">
    @if (Model.Lines.Any())
    {
        <small class="navbar-text">
            <b>Состояние корзины:</b>
            @Model.Lines.Sum(l => l.Quantity) товар(а)
            @Model.ComputeTotalValue().ToString("C")
        </small>
    }
        <a class="btn btn-lg navbar-dark"
           asp-controller="Cart" asp-action="Index"
           asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">
            @if (Model.Lines.Any())
            {
                <i class="fa fa-cart-arrow-down"> Корзина</i>
            }
            else
            {
                <i class="fa fa-shopping-cart"> Корзина</i>
            }
        </a>
</div>