<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WindowsFormApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="YourApiKey" value="..." />
    <add key="YourApiSecret" value="..." />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Trade" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=DevExXafTestDb;integrated security=true" providerName="System.Data.SqlClient" />
    <add name="TradeX" connectionString="XpoProvider=MSSqlServer;data source=(LocalDB)\MSSQLLocalDB;integrated security=SSPI;initial catalog=Trade" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <applicationSettings>
    <WindowsFormApp.Properties.Settings>
      <setting name="DepthQueue" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="LogDebugInfo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PairCurrency" serializeAs="String">
        <value>btcusdt</value>
      </setting>
      <setting name="StopDate" serializeAs="String">
        <value />
      </setting>
      <setting name="StopAfterNow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TimeInterval" serializeAs="String">
        <value>Minutes_30</value>
      </setting>
      <setting name="StartDate" serializeAs="String">
        <value>2018-09-17</value>
      </setting>
      <setting name="OnlyViewMode" serializeAs="String">
        <value>True</value>
      </setting>
    </WindowsFormApp.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>