@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper WebCoreApplication.Infrastructure.*, WebCoreApplication

@model WebCoreApplication.Models.ViewModel.ProductsListViewModel

@{
    ViewBag.Title = "Спортивный магазин";
    Layout = "_ViewStart";
}


@foreach (var p in Model.Products)
{
    <div>
        <h3>@p.Name</h3>
        @p.Description
        <h4>@($"{p.Price:C2}")</h4>
    </div>
}

<div page-model="@Model.Paginginfo" page-action="List"></div>

