@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper WebCoreApplication.Infrastructure.*, WebCoreApplication

@model WebCoreApplication.Models.ViewModel.ProductsListViewModel

@{
    ViewBag.Title = "Спортивный магазин";
    Layout = "_ViewStart";
}

@foreach (var p in Model.Products)
{
    @Html.Partial("ProductSummary", p)
}


<div page-model="@Model.Paginginfo" page-action="List" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-primary" class="btn-group m-1" style="float: right">
</div>
