
@model WebCoreApplication.Models.ViewModel.ProductsListViewModel

@{
    ViewBag.Title = "Спортивный магазин";
    Layout = "_ViewStart";
}

@foreach (var p in Model.Products)
{
    @Html.Partial("ProductSummary", p)
}


<div page-model="@Model.Paginginfo" page-action="List" page-classes-enabled="true"
     page-class="btn btn-link" page-class-normal="btn-light"
     page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
    class="btn-group-sm btn" style="float: right">
</div>
