@model object

@{
    ViewBag.Title = "Спасибо за заказ";
    Layout = "_ViewStart";
}

<h2>Спасибо за заказ</h2>

<h4>Удачных дальнейших покупок.</h4>
<h5>Вам хорошего настроения.</h5>
<h6>И до свидания.</h6>

<div class="text-right">
    <a class="btn btn-light" asp-action="List" asp-controller="Product">на главную</a>
</div>
