.tabpanel-item {
    height: 150px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 25px;
}

.mobile .tabpanel-item {
    padding-top: 10px;
}

.tabpanel-item  > div {
    float: left;
    padding: 0 10px 10px 10px
}

.tabpanel-item  p {
    font-size: 16px;
}

.item-box {
    font-size: 16px;
    margin: 15px 0 45px 10px;
}

.options {
    padding: 20px;
    background-color: #f5f5f5;
    margin-top: 20px;
}

.caption {
    font-size: 18px;
    font-weight: 500;
}

.option {
    margin-top: 10px;
}

#accordion h1 {
    font-size: 20px;
}

.options,
.selected-data {
    padding: 20px;
    background-color: #f5f5f5;
    margin-top: 20px;
}

.selected-data {
    position: relative;
    height: 36px;
}

.selected-data > .caption {
    position: relative;
    top: 5px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 115%;
}

.selected-data > .dx-widget {
    position: absolute;
    left: 140px;
    right: 20px;
    top: 20px;
}

.options > .caption {
    font-weight: 500;
    font-size: 18px;
}
