<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <add name="StaffTimeDbContainer" connectionString="metadata=res://*/Model.StaffTimeModel.csdl|res://*/Model.StaffTimeModel.ssdl|res://*/Model.StaffTimeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=StaffTimes;persist security info=True;user id=sa;password=sasa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>