<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Trader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="TradeDataEntities" connectionString="metadata=res://*/Models.stockmarket.csdl|res://*/Models.stockmarket.ssdl|res://*/Models.stockmarket.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\devextreme;attachdbfilename=|DataDirectory|\StockData.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="TradeContext" connectionString="Data Source=(localdb)\devextreme; Initial Catalog=StockMarketContext-20140710122243; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|StockMarketContext-20140710122243.mdf" providerName="System.Data.SqlClient"/>
    <add name="Trade" connectionString="XpoProvider=MSSqlServer;data source=(LocalDB)\MSSQLLocalDB;integrated security=SSPI;initial catalog=Trade.mdf" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <applicationSettings>
    <Trader.Properties.Settings>
      <setting name="BurseTypeEnum" serializeAs="String">
        <value>BinanceCoin</value>
      </setting>
      <setting name="DepthQueue" serializeAs="String">
        <value>30</value>
      </setting>
    </Trader.Properties.Settings>
  </applicationSettings>
</configuration>
