body {
    font-family: Helvetica, sans-serif;
    background: url(http://getwallpapers.com/wallpaper/full/b/9/4/95878.jpg);
    background-size: cover;
    text-align: center;
}

h1 {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 20px;
}

#rolling-dice-anim {
    display: none;
    margin: 0 auto;
}

.container {
    max-width: 500px;
    background: #FFF;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
}

#dice-container {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.outer {
    width: 100%;
    height: 100%;
    display: flex;
}

#container-main-game {
    display: none;
}

.dice {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

    .dice img {
        margin: 4px 4px 0 4px;
    }

    .dice.selected {
        border: 3px solid #4dff4d;
    }

#message {
    background: #ffffb3;
    padding: 10px;
    border-radius: 5px;
    display: none;
    font-size: 16px;
}


button {
    background: #0099ff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: none;
    border: 0;
    display: block;
    width: 100%;
    color: #FFF;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    margin: 0 auto;
}

input {
    margin-bottom: 20px;
    width: 90%;
    padding: 10px;
    font-size: 20px;
}

#choose-dice {
    margin: 0 0 20px 0;
    padding: 0;
}

    #choose-dice li {
        display: inline-block;
        margin-right: 10px;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 20px;
        background: #0099ff;
        color: #FFF;
        margin-bottom: 10px;
        cursor: pointer;
        box-shadow: 0 5px 0 #0268d6;
    }

        #choose-dice li:hover {
            background: #60adff;
        }

    #choose-dice .dice-selected {
        background: #0573e8;
        position: relative;
        top: 5px;
        color: #FFF;
        box-shadow: none;
    }

.instructions {
    background: #EEE;
    padding: 10px;
    border-radius: 5px;
}
