@model IEnumerable<WebApplication.Models.Game.Walker>

@{
    ViewBag.Title = "Бродилки"; 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>Списко бродилок</h3>
    <table>
        <tr>
            <td><p>Название книги</p></td>
            <td><p>Автор</p></td>
            <td><p>Цена</p></td>
            <td></td>
        </tr>
        @foreach (var b in Model)
        {
            <tr>
                <td><p>@b.Id</p></td>
                <td><p>@b.Name</p></td>
                <td><p>@b.Description</p></td>
                <td><p><a href="/Walker/Edit/@b.Id">Править</a></p></td>
            </tr>
        }
    </table>
    <a href="/Walker/Create/">Добавить</a>
</div>
