@page
@model WebApplication2.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<h2>@Model.Message</h2>
<form method="post">
    <label for="name">Имя</label><br />
    <input type="text" name="name" id="name" /><br /><br />
    <label for="age">Возраст</label><br />
    <input type="number" name="age" id="age" /><br /><br />
    <input type="submit" value="Оправить" />
</form>

