<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="YourApiKey" value="WPXSZHbKStjMfNQkSXPfCPYXn3LJVvb2EKR0ZNf0RCkvEqU4lDlHN7a2S4ZiLDrq" />
    <add key="YourApiSecret" value="UfT0kLSfVziZrwPJYlbT8v80056mFCMYzXgBtD92lG31LMulJ57jYa8P3IULIV66" />
  </appSettings>
</configuration>