<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="YourApiKey" value="g418u6xsd7KdXLYgWiVQfwQmiY1WH066iWvu2MEWiZSQA2YnXj0npkw3zsSfn1jX" />
    <add key="YourApiSecret" value="sV6i1af8ygigEh53gpf3zEKxHuwuZHe48TywePHwkodrHlQu0kzUssT8XUN1draI" />
  </appSettings>
</configuration>